@use './../../../../colors.scss';

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 3px 8px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  border-radius: 2rem;
  margin: 0 4px;
}

.pagination a.active {
  background-color: colors.$accent-color;
  color: #000;
  border: 1px solid colors.$accent-dark-color;
}

.pagination a:hover {
  cursor: pointer;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a.active:hover {
  background-color: colors.$accent-dark-color;
}
